.main {
    display: flex;
    gap: 2rem;
    padding: 4rem 0 4rem 0;
}

.primaryContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.primaryContent h1 {
    font-family: "Baloo 2", sans-serif;
    font-size: 2.875rem;
}

.primaryContent p {
    color: var(--base-subtitle);
    font-size: 1.25rem;
}

.secondaryContent {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 0.975rem;
}

.firstColumn div {
    display: flex;
    gap: 1rem;
}

.secondColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.975rem;
}

.secondColumn div {
    display: flex;
    gap: 1.25rem;
}

.containerImage img {
    width: 26rem;
}

.coffeeProducts {
    padding: 4rem 0 4rem 0;
}

.sectionName h1 {
    font-family: "Baloo 2", sans-serif;
    font-size: 2rem;
}

.coffeeCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2.5rem 0 2.5rem 0;
}

.coffeeInfoCards {
    width: 15rem;
    background: var(--base-card);
    border-radius: 6px 30px 6px 30px;
}

.coffeeImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: relative;
    top: -20px;
}

.coffeeImage span {
    background: var(--yellow-light);
    color: var(--yellow-dark);
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 100px;
    
}

.coffeeDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coffeeInfoText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.coffeeInfoText h1 {
    text-align: center;
    font-family: "Baloo 2", sans-serif;
    font-size: 1.25rem;
    color: var(--base-subtitle);
}

.coffeeInfoText p {
    text-align: center;
    color: var(--base-label);
    font-size: 0.875rem;
}

.coffeeBuy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1.5rem  0;
}

.price {
    margin-right: 1.5rem;
}

.price span {
    font-family: "Baloo 2", sans-serif;
    color: var(--base-text);
    font-size: 1rem;
}

.buttonsActions {
    display: flex;
    gap: 0.5rem;
}

.buttonQuantity {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.buttonQuantity p {
    font-size: 0.875rem;
    color: var(--base-title);
}

.buttonQuantity button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: 1.7rem;
    border: none;
    background: var(--base-button);
    color: var(--purple);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
}

.buttonQuantity button:hover {
    background: var(--base-hover);
    cursor: pointer;
}

.buttonAddToCart button {
    display: flex;
    align-items: center;
    border: none;
    background: var(--purple-dark);
    padding: 0.3rem;
    border-radius: 6px;
    color: var(--white);
}

.buttonAddToCart button:hover {
    background: var(--purple);
    cursor: pointer;
}